// Colors
$darkCyan: hsl(185, 75%, 39%);
$darkBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);

// Font sizes
$font-medium: 1.125rem; // 18px
$font-small: 0.875rem;
$font-xs: 0.75rem;

// Font weights
$weight-normal: 400;
$weight-bold: 700;
